name: release
on:
  push:
    tags:
      - "v*"

jobs:
  release:
    name: "release"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: release
        shell: pwsh
        run: |
          ./entrypoint.ps1 release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
